<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>
  <div class="text-center jumbotron">
    <h3 class=>NECサッカー部</h3>
    <%= link_to "出欠登録", games_path, class: "btn btn-primary btn-block" %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= link_to "試合一覧", games_path, class: "btn btn-outline-success btn-block" %>
    </li>
    <li class="list-group-item">
      <%= link_to "選手一覧", players_path, class: "btn btn-outline-danger btn-block" %>
    </li>
    <li class="list-group-item">
      <%= link_to "試合登録", new_game_path, class: "btn btn-outline-warning btn-block" %>
    </li>
    <li class="list-group-item">
      <%= link_to "選手登録", new_player_path, class: "btn btn-outline-info btn-block" %>
    </li>
  </ul>
</div>
