<%= form_for @game do |g| %>
  <div class="form-row">
    <div class="form-group col-11">
      <%= g.label :date %>
      <%= g.date_select :date, use_month_numbers: true %>
    </div>
    <div class="form-group col-7">
      <%= g.text_field :title, placeholder: "対戦相手", class: "form-control" %>
    </div>
    <div class="form-group col-7">
      <%= g.text_field :place, placeholder: "対戦場所", class: "form-control" %>
    </div>
    <div class="form-group col-11">
      <%= g.label :meetingtime, "集合時刻" %>
      <%= g.time_select :meetingtime, include_blank: true, minute_step: 10 %>
    </div>
    <div class="form-group col-11">
      <%= g.label :time, "試合時刻" %>
      <%= g.time_select :time, include_blank: true, minute_step: 10 %>
    </div>
    <div class="form-group">
      <%= g.submit %>
    </div>
  </div>
<% end %>
