<div class="container">
  <h3>試合情報登録</h3>
  <%= form_for @game do |g| %>
    <div class="form-row">
      <div class="form-group col-11">
        <%= g.label :title %>
        <%= g.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group col-11">
        <%= g.label :place %>
        <%= g.text_field :place, class: "form-control" %>
      </div>
      <div class="form-group col-11">
        <%= g.label :date %>
        <%= g.date_select :date, use_month_numbers: true, class: "form-control" %>
      </div>
      <div class="form-group col-11">
        <%= g.label :time %>
        <%= g.time_select :time, include_blank: true, minute_step: 10 %>
      </div>
      <div class="form-group">
        <%= g.submit %>
      </div>
    </div>
    <% end %>
</div>
