<p><%= "#{@game.title}" %></p>
<p><%= "試合日：#{@game.date}" %></p>
<p><%= "場所：#{@game.place}" %></p>
<p><%= "試合時間：#{@game.time.strftime('%H:%M')}" %></p>
<p><%= "集合時間：#{(@game.time - 1.hour).strftime('%H:%M')}" %></p>
